<footer class="footer text-center text-sm-start text-white">
  <div class="container-fluid p-4 pb-0">
    <section>
      <p class="d-flex justify-content-center align-items-center">
        <span class="me-3">Register for free</span>
        <button type="button" class="btn btn-outline-light btn-rounded">
          Sign up!
        </button>
      </p>
    </section>
    <hr class="mb-4" />
  </div>
  <div class="text-center p-3">
    © {{ year }} Copyright:
    <a
      class="text-white"
      [href]="linkUrl"
      rel="noopener noreferrer"
      target="_blank"
      >Jaimie Carter</a
    >
  </div>
</footer>
